<!-- footer.component.html -->
<footer class="bg-dark text-light p-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <!-- Social Icons -->
          <a href="#" class="text-light me-3"><i class="fa fas-facebook"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <!-- Footer Links -->
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>Powered By ICT Department</li>
                <li>All Rights Reserved</li>
            </ul>
            
        </div>
      </div>
    </div>
  </footer>
  