<div class="container">
    <h2 class="p-2 text-decoration-underline">{{user.firstname+" "+user.lastname}} Tasks</h2>
    <div class="row m-2">
        <div class="col-md-4">
                <form [formGroup]="searchForm">
            <div class="input-group ">
                <input formControlName="search" name="search"  type="text" class="form-control"  placeholder="Search">
                <input  type="submit" class="btn btn-outline-secondary" type="button" value="Search">
            </div> 
            </form>
        </div>
     
    </div>  
    <table class="table table-striped table-small">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Activity</th>
                <th>Distance</th>
                <th>Fuel</th>
                <th>Ward</th>
                <th>Status</th>
                <th>TaskStatus</th>
                <th>Task Nature</th>
                <th>Operators</th>
                <th>Start</th>
                <th>End</th>
                <th>Histories</th>
                <th>Action</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let task of tasks,let i=index">
                <td>{{i+1}}</td>
                <td>{{task.roadName}}</td>
                <td>{{task.activity}}</td>
                <td>{{task.distance}}</td>
                <td>{{task.fuel}}</td>
                <td>{{task.wardName}}</td>
                <td>{{task.jobStatus}}</td>
                <td>{{task.taskStatus}}</td>
                <td>{{task.taskNature}}</td>
                <td>{{task.userTaskCount}}</td>
                <td>{{ task.startDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{ task.endDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{task.taskHistoryCount}}</td>
                <td>
                    <a *ngIf="task.userTaskCount==0" routerLink="../assign-user-task/{{task.uuid}}">Assign User</a>
                    <button class="font-small" routerLink="../../view-task/{{task.uuid}}">view task</button>
                </td>
            </tr>
        </tbody>
    </table>