<div class="container">
    <div class="row justify-content-center mt-1">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center golden">{{title}}</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="registrationForm" >
                        <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="fname" class="form-label">First Name</label>
                            <input formControlName="fname" type="text" class="form-control" id="fname" placeholder="Enter First Name">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="lname" class="form-label">Last Name</label>
                            <input formControlName="lname" type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="email" class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Phone number">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="idNo" class="form-label">Id Number</label>
                            <input formControlName="idNumber" type="text" class="form-control" id="idNo" placeholder="ID Number">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="staff" class="form-label">Staff Number</label>
                            <input formControlName="staffNo" type="text" class="form-control" id="staffNo" placeholder="Staff Number">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="staff" class="form-label">Department</label>
                            <select  formControlName="departmentId"  >
                                <option *ngFor="let department of departments" value="{{department.depId}}">{{department.deptName}}</option>
                            </select>
                        </div>
                        
                        <div class="mb-3 col-md-4">
                            <label for="staff" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">  
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="staff" class="form-label">Confirm Password</label>
                            <input (blur)="checkIfPasswordMatches()"  type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">  
                        <span *ngIf="password_matches" class="p-1 m-1" formControlName="confirm_password" style="background-color: orange;color: white;">Password Does Not Match</span>
                        </div>


                        <div class="mb-3 col-md-4">
                            <label for="otp" class="form-label">Designation</label>
                            <div class="input-group">
                                <select  formControlName="designationId"  >
                                    <option *ngFor="let designation of designations" value="{{designation.id}}">{{designation.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label for="otp" class="form-label">Vehicle</label>
                            <div class="input-group">
                                <select  formControlName="vehicleId"  >
                                    <option *ngFor="let vehicle of vehicles" value="{{vehicle.id}}">{{vehicle.name}}</option>
                                </select>
                            </div>
                        </div>

                        <button (click)="registerUser()" *ngIf="!user" type="submit" class="btn btn-primary btn-block">Register</button>
                        <button (click)="updateUser()" *ngIf="user" class="btn btn-primary btn-block">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>