<div class="row m-2">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <form [formGroup]="searchForm">
            <div class="input-group ">
                <input formControlName="search" name="search"  type="text" class="form-control"  placeholder="Search">
                <input  type="submit" class="btn btn-outline-secondary" type="button" value="Search">
            </div> 
        </form>
    </div>
 
</div>                              
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>StaffNo</th>
            <th>IdNumber</th>
            <th>UUID</th>
            <th>Role</th>
            <th>Department</th>
            <th>Machine</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users,let i=index">
            <td>{{i+1}}</td>
            <td>{{user.firstname+" "+user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.staffNo}}</td>
            <td>{{user.idNumber}}</td>
            <td>{{user.uuid}}</td>
            <td>{{user.role}}</td>
            <td>{{user.department}}</td>
            <td>{{user.vehicleStatus}}</td>
            <td>{{user.designation}}</td>
            <td>
                <a class="link" (click)="assignTask(user.id)">Assign</a>
            </td>
        </tr>
    </tbody>
</table>