<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users,let i=index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.designation?.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.department.deptName}}</td>
            <td>{{user.status}}</td>
            <td><button routerLink="register/{{user.uuid}}">Edit</button></td>
        </tr>
    </tbody>
</table>
</div>