<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>StaffNo</th>
            <th>IdNumber</th>
            <th>UUID</th>
            <th>Role</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users,let i=index">
            <td>{{i+1}}</td>
            <td>{{user.firstname+" "+user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.staffNo}}</td>
            <td>{{user.idNumber}}</td>
            <td>{{user.uuid}}</td>
            <td>{{user.role}}</td>
            <td>{{user.department}}</td>
            <td>{{user.designation}}</td>
            <td>
                <button routerLink="register/{{user.uuid}}">Edit</button>
                <button routerLink="../tasks/user-tasks/{{user.uuid}}">Tasks</button>
            </td>
        </tr>
    </tbody>
</table>
</div>